body{
  background:#020617;
  color:#fff;
  font-family:Arial;
}
.card{
  max-width:420px;
  margin:40px auto;
  padding:20px;
  background:#020617;
  border-radius:16px;
  box-shadow:0 0 30px #000;
}
input,button{
  width:100%;
  padding:12px;
  margin-top:8px;
  border-radius:10px;
  border:none;
}
input{background:#0f172a;color:#fff}
button{
  background:#22c55e;
  font-weight:bold;
}
hr{margin:15px 0;border:1px solid #0f172a}
